@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="mb-2">
                    </div>
                    <div class="pl-1">
                        <p class=" h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                        <p class=" text-warning text-center"> $<b>@product.Price</b></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>